@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');
$bg: url('../assets/banner1.png');
body {
    margin: 0;
    background-color: #1C2227;
    overflow-x: hidden;
  }
.topnav{
    width: 100%;
    height: 80px;
    top: 0;
    display: block;
    font-family: 'Barlow', sans-serif;
    background-color: #000;
    position: fixed;
    z-index: 1;
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
    li{
        float: left;
      }
    li a {
        display: block;
        width: 100%;
        text-decoration: none;
        color: #f9f9f9;
        font-family: Barlow;
        text-align: center;
        font-size: 1.5rem;
    }
    .others{
        position: relative;
        left:70%;
        margin: 25px 8vw;
    }
    .logo{
        margin: 25px;
        margin-left: 40px;
    }
}
.explore{
    position: relative;
    width: 100%;
    top: 10vh;
    margin-left: 70%;
.a,.f{fill:none;}
.a{stroke:#ec8337;}
.b{fill:url(#c);}
.c,.d{fill:#1c2227;}
.c{font-size:47px;font-family:Poppins-Regular, Poppins;letter-spacing:0.05em;}
.e{stroke:none;}
.g{filter:url(#d);}
.h{filter:url(#a);}
}

.Texto{
    position: relative;
    left: 45%;
    top: 15vh;
    font-family: Poppins;
    font-weight: normal;
    font-size: 60px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #d1d3db;
}
.id{
    top: -10vh;
    position: relative;
    left: 300px;
    font-family: Poppins;
    font-weight: normal;
    font-size: 40px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #eca137;
    text-shadow: 25px 15px 6px #000; 
}

.bg{
    background-image: $bg;
    background-repeat: no-repeat;
    background-size: auto;

    height: 90vh;
}
